@font-face {
  font-family: "Licenz";
  src: local("Licenz"), url("../../public/fonts/Licenz.ttf") format("truetype"), url("../../public/fonts/Licenz.otf") format("opentype");
}

// CONTAINER
.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// HEADER
.headerImage {
  width: 140px;
  height: 50px;
}
.headerText {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

// INPUT LABEL
.inputLabel {
  position: relative;
}
.inputLabel::after {
  content: attr(data-domain);
  position: absolute;
  top: 8px;
  width: 50px;
  //   left: calc((510px / 2) - (50px / 2));
  left: calc(50% - 25px);
  font-family: arial, helvetica, sans-serif;
  font-size: 15px;
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
}

// INPUT
.inputField {
  position: relative;
  display: block;
  //   padding-right: 76px;
  width: 174px;
  box-sizing: border-box;
  margin: 0;

  color: #333;
  background-color: #f8f8ee;
  font-family: "Licenz", Arial, sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  //   padding-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 0px;
  width: 510px;
  border: 5px solid #033fc0;
  border-radius: 15px;
  outline: none;
}

.resultBox {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
