@font-face {
  font-family: "Licenz";
  src: local("Licenz"), url("../../public/fonts/Licenz.ttf") format("truetype"),
    url("../../public/fonts/Licenz.otf") format("opentype");
}

body {
  background-image: url("../../public/checkback.png");
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: arial, helvetica, sans-serif;

  .inputContainer {
    text-align: center;
    background-color: #f8f8ee;

    border: 1px solid #033fc0;
    border-radius: 15px;

    padding: 2px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.6);

    .inputBorder {
      color: #333;
      background-color: #f8f8ee;
      border: 5px solid #033fc0;
      border-radius: 15px;
      outline: none;

      .inputLabel {
        font-size: 15px;
        display: block;
        color: black;
        font-weight: bold;
        text-align: center;
      }

      .inputSpacer {
        height: 100px;
        overflow: clip;
        margin-bottom: 10px;

        .inputField {
          width: 510px;
          height: 119px;

          line-height: 1.1;

          color: #333;
          background: transparent;

          font-family: "Licenz", Arial, sans-serif;
          font-size: 110px;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;

          // padding-top: 30px;
          // padding-bottom: -10ppx;

          box-sizing: border-box;
          margin: 0;
          // margin-top: 4px;
          // margin-bottom: 6px;

          border: none;
          outline: none;
        }
      }
    }
  }

  .resultContainer {
    height: 125px;
    width: 500px;

    color: #333;
    background-color: #eee;

    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 20px;

    width: 510px;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

    // HEADER
    .headerImage {
      width: 140px;
      height: 50px;
    }
    .headerText {
      font-size: 24px;
      padding: 0;
      margin: 0;
    }
    .headerSubText {
      font-size: 17px;
      padding: 0 20px;
      margin: 0;

      // centre
      text-align: center;
    }

    .plateExampleImage {
      // width: 500px;
      max-height: 70px;
    }
  }
}
