@font-face {
  font-family: "Licenz";
  src: local("Licenz"), url("../../public/fonts/Licenz.ttf") format("truetype"),
    url("../../public/fonts/Licenz.otf") format("opentype");
}

body {
  background-image: url("../../public/checkback.png");
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: arial, helvetica, sans-serif;

  // minimalistic link info should be fixed at the bottom of the page, centre aligned
  .navLinks {
    position: absolute;
    bottom: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

    a {
      color: #333;
      text-decoration: underline;
      cursor: pointer;
      font-style: italic;
      padding-right: 10px;
    }
    a:hover {
      color: #000;
      font-weight: bold;
    }

    // hidden by default, unless combined with .show, this element isa full-screen popup
    .aboutContainer.show {
      display: flex;
    }
    .aboutContainer {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;

      // centre the content
      // display: flex;
      justify-content: center;
      align-items: center;

      // the actual content
      .aboutContent {
        background-color: #f8f8ee;
        border: 1px solid #033fc0;
        border-radius: 15px;
        padding: 20px;
        width: 80%;
        max-width: 800px;
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.6);

        // close button
        .closeButton {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 20px;
          cursor: pointer;
        }

        // content
        .aboutText {
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }

  .inputContainer {
    text-align: center;
    background-color: #f8f8ee;

    border: 1px solid #033fc0;
    border-radius: 15px;

    padding: 2px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.6);

    .inputBorder {
      color: #333;
      background-color: #f8f8ee;
      border: 5px solid #033fc0;
      border-radius: 15px;
      outline: none;

      .inputLabel {
        font-size: 15px;
        display: block;
        color: black;
        font-weight: bold;
        text-align: center;
      }

      .inputSpacer {
        height: 100px;
        overflow: clip;
        margin-bottom: 10px;

        .inputField {
          width: 510px;
          height: 119px;

          line-height: 1.1;

          color: #333;
          background: transparent;

          font-family: "Licenz", Arial, sans-serif;
          font-size: 110px;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;

          // padding-top: 30px;
          // padding-bottom: -10ppx;

          box-sizing: border-box;
          margin: 0;
          // margin-top: 4px;
          // margin-bottom: 6px;

          border: none;
          outline: none;
        }
      }
    }
  }

  .resultContainer {
    height: 125px;
    width: 500px;

    color: #333;
    background-color: #eee;

    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 20px;

    width: 510px;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

    // should be flex, with elements arrayed centered and going row direction
    .plateResults {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // space between
      gap: 30px;

      // should be flex, with elements arrayed centered and going column direction
      .plateResultRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .plateResultName {
          font-weight: bold;
          font-size: 20px;
          //center
          text-align: center;
        }

        .plateResultType {
          text-align: center;
        }
        .plateResultImage {
          // text-align: center;
        }
      }
    }

    // HEADER
    .headerImage {
      width: 140px;
      height: 50px;
    }
    .headerText {
      font-size: 24px;
      padding: 0;
      margin: 0;
    }
    .headerSubText {
      font-size: 17px;
      padding: 0 20px;
      margin: 0;

      // centre
      text-align: center;
    }

    .plateExampleImage {
      // width: 500px;
      max-height: 70px;
    }
  }

  /// should have a media query for smaller screens to resize the inputs and font sizes
  @media (max-width: 650px) {
    .inputContainer {
      .inputBorder {
        .inputLabel {
          font-size: 12px;
        }
        .inputSpacer {
          height: 65px;
          .inputField {
            width: 400px;
            height: 80px;
            font-size: 70px;
          }
        }
      }
    }

    .resultContainer {
      width: 400px;
      font-size: 15px;
      .headerText {
        font-size: 20px;
      }
      .headerSubText {
        font-size: 15px;
      }
      .plateExampleImage {
        max-height: 50px;
      }
    }
  }
}
